<footer class="container-fluid mx-0 px-0 pt-5">
  <div class="container-fluid newsletter justify-content-center w-100 footer-1 ">
    <div class="container w-100">
      <div class=" row py-5 d-flex align-items-center">
        <div class="col-lg-6 col-12">
          <h1 class="fs-4">Our Newsletter</h1>
          <p class="texto pb-4">Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
        </div>

        <div class="  col-lg-6 col-12">
          <div class="d-flex botones">
            <input type="text" class=" newsletter-input ">
            <input type="submit" value="Suscribe" class=" border-0 newsletter-btn ">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="links container-fluid mx-auto pb-5">
    <div class="container d-flex justify-content-center">
      <div class="row">

        <div class="col-lg-4 col-md-6 pt-5">
          <h5 class="fs-6 fw-bold">USEFUL LINKS</h5>
          <ul class="px-0 list-unstyled">
            <li class="pt-3">
              Home</li>
            <li class="pt-3">
              About us</li>
            <li class="pt-3">
              Services</li>
            <li class="pt-3">
              Terms of service</li>
            <li class="pt-3">
              Privacy policy</li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 pt-5">
          <h5 class="fs-6 pb-3 fw-bold">CONTACT US</h5>
          <ul class="text-start px-0">
            <li>A108 Adam Street</li>
            <li>New York, NY 535022</li>
            <li>United States</li>
          </ul>

          <div class="info-contacto pt-3">
            <p class="pb-0 mb-0"><b>Phone: </b>+1 5589 55488 55</p>
            <p class="pt-0 mt-0"><b>Email: </b>infoexample.com</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pt-5">
          <h5 class="fs-6 pb-2 fw-bold">About Eterna</h5>
          <p class="w-75 text-justify">Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta
            donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="redes-sociales pb-3">
            <i class="bi bi-twitter-x  px-1"></i>
            <i class="bi bi-facebook  px-1"></i>
            <i class="bi bi-instagram  px-1"></i>
            <i class="bi bi-skype  px-1"></i>
            <i class="bi bi-linkedin  px-1"></i>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="container-fluid copyright text-center py-4">
    <div class="container">
      <p>Copyright <b>IES Trassierra</b>. Todos los derechos reservados</p>
      <p>Designed by <span class="footer-made">IES Trassierra</span></p>
    </div>
  </div>

</footer>
