/* Estilos generales */
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 48px 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #7c9885, #b5b682);
  min-height: 100vh;
}

/* Estilos de contenedor */
.fondo {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: #f0f0f0;
  width: 80%;
  margin: 0 auto;
}

@media(min-width:993px){
  .fondo {
    grid-template-columns: 1fr 5fr;
    margin-top: 50px;
  }
}

@media(min-width:1201px){
  .fondo {
    margin-top: 0px;
  }
}

/* Estilos de articles */
.articles {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  align-items: center;
  flex-grow: 1;
  width: 80%;
  gap: 24px;
  max-height: 400px;
}

@media(max-width:992px){
  .articles{
    width: 100%;
  }
}



@media(min-width:860px){
  .articles {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media(min-width:1201px){
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -160px;
    margin-left: 50px;
  }
}

@media(max-width:600px){
  .articles {
    margin-top: 100px;
  }
}

@media(max-width:725px){
  .articles {
    left: 0;
  }
}

/* Estilos de article */
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transition: 0.4s ease-in-out;
  width: 280px;
  height: 400px;
}

article a::after {
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

article h2 {
  margin: 0 0 18px;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

article img {
  max-width: 100%;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

.article-body p {
  height: 100px;
  overflow: hidden;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #4e3c9e;
}

article a:focus {
  outline: #4e3c9e dotted 1px;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: 0.3s;
}

article:hover,
article:focus {
  --img-scale: 1.1;
  --title-color: var(--color-primary);
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

/* Media Queries */
@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }

}

@container card (min-width:380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

/* Otros estilos */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button.mat-button {
  background-color: #007bff;
  color: #fff;
}

button.mat-button:hover {
  background-color: #0056b3;
}

.other-navbar {
  margin-top: 100px;
}

@media(max-width:600px){
  .other-navbar {
    display: none;
  }
}

/* Apoyo */
.apoyo {
  position: absolute;
  height: 300px;
  width: 100%;
  padding-bottom: 50px; /* Relleno inferior */
  margin-bottom: -1000px;
}


@media(min-width:1201px){
  .other-navbar {
    width: 287px;
  }
}


.delete{
  right: 0;
  margin-left: 20px;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: rgb(189, 3, 3);
  color: white;
  margin-top: -10px;
  z-index: 50;
  transition: 0.3s all ease;
}

.delete:hover{
  background-color: rgb(124, 2, 2);
}
