<div class="caja">
  <div class="other-navbar">
    <app-navbar></app-navbar>
  </div>

  <div class="contenido">
    <h1 class="titulo">{{"NAVBAR_ABOUT"|translate}}</h1>

    <div class="participantes">
      <div class="ies">
        <img src="/assets/images/ies.jpg" alt="">
        <h4>IES Trassierra</h4>
        <a href="https://www.iestrassierra.com/">{{"VISIT_WEB"|translate}}</a>
      </div>
      <div class="juanma">
        <img src="/assets/images/juanma.JPG" alt="Alumno" [title]="'ALUMNO'|translate">
        <h4 class="alumno">Juan Manuel Adame Torronteras</h4>
        <a href="https://www.linkedin.com/in/juan-manuel-adame-torronteras-5812b8256/" target="_blank" rel="noopener noreferrer">LinkedIn</a>

      </div>
    </div>
  </div>
</div>

<div class="apoyo"></div>
