@media(min-width:1201px){
  .other-navbar {
    width: 287px;
  }
}

@media(max-width:600px){
.other-navbar{
  display: none;
}
}

.caja{
  width: 80%;
  margin: 0 auto;
  display: grid;
}

@media(min-width:993px){
  .caja{
    grid-template-columns: 1fr 5fr;
  }

  .participantes{
    padding-top: 60px;
  }
}

.titulo{
  text-align: center;
}

.ies,.juanma{
  display: grid;
  gap: 20px;
  place-items: center;
}

.contenido {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  padding: 50px 100px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadimos sombra */
}
.apoyo{
  width: 80%;
}


.participantes{
  place-items: center;
  margin-top: 50px;
}

.other-navbar{
  margin-top: 100px;
}


img{
  width: 200px;
  height: 200px;
  border-radius: 8px;
  cursor: pointer;
}

.participantes{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


@media(max-width:768px){
  .participantes{
    grid-template-columns: 1fr;
    place-items: center;
    gap: 50px;
  }
  .contenido{
    width: 90%;
  }

  .apoyo{
    width: 90%;
  }

  .titulo{
    padding-bottom: 60px;
  }

  .caja{
    width: 100%;
  }
}


a{
  font-size: 20px;
  display: block;
  color: rgb(71, 71, 197);
  text-align: center;
}


.alumno{
  text-align: center;
}


.apoyo{
  height: 50px;
}
