<body>
  <div class="caja">
    <main class="contenedor rounded-1 ">
      <div class="formulario">
        <div class="contenido">
          <h1 class="text-center text-black">{{"REGISTER" | translate}}</h1>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" #form="ngForm">
          <input type="text" [placeholder]="getPlaceholder('name')" formControlName="name" [ngClass]="getClass('name')"
            required>
          <input type="text" [placeholder]="getPlaceholder('lastname')" formControlName="lastname"
            [ngClass]="getClass('lastname')" required>
          <div class="row g-2">
            <div class="col-md-6">
              <input type="text" [placeholder]="getPlaceholder('username')" (blur)="checkUsername()"
                formControlName="username" [ngClass]="getClass('username')" class="rounded-1 w-100" required>
            </div>
            <div class="col-md-6">
              <input type="date" placeholder="age" formControlName="age" [ngClass]="getClass('age')"
                class="rounded-1 w-100" min="16">
            </div>
          </div>

          <input type="text" [placeholder]="getPlaceholder('email')" (blur)="checkEmail()" formControlName="email"
            [ngClass]="getClass('email')" required autocomplete>


          <div class="coach">
            <input type="checkbox" formControlName="coach" id="coach">
            <label for="coach">Registrarse como coach</label>
          </div>
          <input type="password" [placeholder]="getPlaceholder('password')" formControlName="password"
            [ngClass]="getClass('password')" required autocomplete="current-password">


          <input type="submit" class="rounded-1" value="Registrarme" />
          <a [routerLink]="['/login']" class="text-center cuenta">¿Ya tienes cuenta? <br>{{"SIGN_IN" | translate}}</a>
          <a [routerLink]="['/home']" class="ir-home-1">
            <h1 class="text-center"><img class="icono" src="/assets/images/icono.png" alt=""></h1>
          </a>
        </form>
        </div>
      </div>
      <div class="contenedor-right align-content-center order-xl-2 fin">
        <h1 class="text-center fs-3 ">¿Ya nos conoces y </h1>
        <h5 class="text-center mb-2">tienes una cuenta?</h5>
        <button class="d-grid w-50 mx-auto p-2 rounded-1 register"><a [routerLink]="['/login']"> <span>{{"SIGN_IN" |
              translate}}</span></a></button>
        <a [routerLink]="['/home']" class="ir-home-2">
          <h1 class="text-center"><img class="icono" src="/assets/images/icono.png" alt=""></h1>
        </a>
      </div>
    </main>
  </div>
</body>

@if(showSpinner){
<app-spinner></app-spinner>
}
