.posts {
  display: grid;
}

.caja{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
 margin-top: 55px;

}
@media(min-width:1201px){
  .other-navbar {
    width: 287px;
  }
}
.favoritos-container {
  margin-top: -10px;
}
.post {
  max-width: auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  z-index: 50;
}
img {
  border-radius: 20px;
  padding: 2px;
}
.posts {
  width: 90%;
  z-index: -1;
}

@media(max-width:601px){

  .caja{
    width: 100%;
  }
.posts{
  width: 100%;
}
}
.caja {
  padding-top: 50px;
}

@media (max-width:600px){
  .other-navbar{
    display: none;
  }

}

.contenido-post p{
  padding-top: 10px;
}

.fa-heart{
color: red;
}
@media(min-width:992px){
  .posts{
    display: grid;
    grid-template-columns: 1fr 1fr;
   margin-left: 20px;
   justify-content: center;
  }


}
.titulo{
  width: 88%;
  background-color: var(--color-primary);
  color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  margin: 0 auto;
  z-index: 50;
}
@media(min-width:993px){
  .caja{
    grid-template-columns: 1fr 3fr;
  }
  .titulo{
    width: 60%;
    margin: 0 auto;
  }
}
.edit{
  background-color: transparent;
  transition: 0.3s all ease;
  font-size: 25px;
}

.edit:hover{
  transform: scale(1.1);
}


@media (min-width:1500px){
  .posts{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media(max-width:992px){
  .posts{
    margin-left: 20px;
  }
}


.posts{
  margin: 0 auto;
}


.apoyo{
  height: 50px;
  width: 100%;
}
