.favoritos-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  padding-top: 54px;
  padding-bottom: 50px;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.post-item h3 {
  margin-top: 0;
}

.post-item p {
  margin-bottom: 0;
}

.post {
  min-width: 400px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  z-index: 100;
}

img {
  border-radius: 20px;
  padding: 2px;
}

.posts {
  width: 100%;
  display: grid;
}
.caja {
  display: grid;
  padding-top: 50px;
}

.navegacion {
  padding: 100px;
  display: none;
  width: 480px;
left: 130px;
top: 12px;
}

@media (min-width: 1000px) {
  .posts {
    grid-template-columns: repeat(2, 2fr);
  }

  .navegacion {
    display: block;
    position: fixed;
    margin-left: -70px;
  }

  .caja {
    grid-template-columns: 5fr;
  }
}

@media (min-width: 1201px) {
  .posts {
    margin-left: 150px;
  }

  .favoritos-container h2 {
    margin-left: 200px;
  }

  .navegacion{
    margin-left: -45px;
  }
}


@media (min-width:1500px){
  .navegacion{
    margin-left: 100px;
  }
}

button{
  background: none;
}


i{
  font-size: 22px;
  color: red;
}


@media(max-width:600px){
  .other-navbar{
    display: none;
  }
}

@media(min-width:992px){
  .other-navbar{
    display: none;
  }
}
