<div class="caja">

  <div class="other-navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="favoritos-container">
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="1000"
      (scrolled)="onScroll()" class="">
      <h1 class="text-center fw-semibold titulo">{{"LISTA_FAVS"|translate}}</h1>
     <div class="alert" *ngIf="posts.length === 0 && !isLoading">
      <app-fixed-message
      message="{{'NO_FAVS'|translate}}"></app-fixed-message>
     </div>

      @if(posts.length>0){
       <div class="posts">
        <div  *ngFor="let post of posts" class="post" >
          <div class="head">
            <div class="user">
              <div class="profile-photo">
                <img *ngIf="post.userData && post.userData.profilepicture"
                  [src]="'https://juanmadatortfg.onrender.com/profile-images/' + post.userData.profilepicture" alt="User photo">
                <img *ngIf="!post.userData || !post.userData.profilepicture" src="assets/images/anonimo.png"
                  alt="User photo">
              </div>
              <div class="info">
                <h5>{{ post.userData?.username }}</h5>
                <!-- Agrega otros detalles del usuario si es necesario -->
              </div>
            </div>



          </div>
          <div class="photo" *ngIf="post.imageUrl && !post.loading">
            <img [src]="'https://juanmadatortfg.onrender.com/images/' + post.imageUrl" [id]="'post-image-' + post.id" alt="Post photo"
              class="post-image" loading="eager">
          </div>
          <div class="contenido-post">
            <p>{{ post.content }}</p>
          </div>

          <div>
            <button class="edit"  (click)="show(post)">
              <i class="fa-solid fa-heart" title="Dislike"></i>
            </button>
            <p>{{post.datePosted.toString()| formatDate}}</p>
          </div>

        </div>
       </div>
      }

    </div>
  </div>
</div>

<div class="apoyo"></div>


