<div class="caja">

  <div class="navegacion">
    <app-navbar></app-navbar>
  </div>
  <div class="favoritos-container">
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="1000"
      (scrolled)="onScroll()" class="posts">
      <div *ngFor="let post of posts" class="post">
        <div class="head">
          <div class="user">
            <div class="profile-photo">
              <img *ngIf="post.userData && post.userData.profilepicture"
                [src]="'http://localhost:8080/profile-images/' + post.userData.profilepicture" alt="User photo">
              <img *ngIf="!post.userData || !post.userData.profilepicture" src="assets/images/anonimo.png"
                alt="User photo">
            </div>
            <div class="info">
              <h3>{{ post.userData?.username }}</h3>
              <!-- Agrega otros detalles del usuario si es necesario -->
            </div>
          </div>
          <button class="edit"  (click)="show(post)">
            <i class="fa-solid fa-heart-crack"></i>


          </button>


        </div>
        <div class="photo" *ngIf="post.imageUrl && !post.loading">
          <img [src]="'http://localhost:8080/images/' + post.imageUrl" [id]="'post-image-' + post.id" alt="Post photo"
            class="post-image" loading="eager">
        </div>
        <div class="contenido-post">
          <p>{{ post.content }}</p>
        </div>

      </div>
    </div>

  </div>
</div>


<div class="other-navbar">
  <app-navbar></app-navbar>
</div>
