.left .sidebar,
main .contenedor .left .profile {
  border-radius: var(--card-border-radius);
  background: var(--color-white);
}
.left .sidebar .menu-item:hover,
.search-bar {
  background: var(--color-light);
}
.close:hover,
a {
  text-decoration: none;
}
.modal-contenido,
.modal-dialog {
  transform: translate(-50%, -50%);
}
main {
  margin-top: 100px;
  position: relative;
}
main .contenedor {
  width: 80%;
  display: grid;
  grid-template-columns: 24vw auto 24vw;
  column-gap: 0.5rem;
  position: relative;
  margin: 0 auto;
}
main .contenedor .left {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
}
main .contenedor .left .profile {
  padding: var(--card-padding);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}
.left .sidebar {
  margin-top: 1rem;
}
.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.left .sidebar i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}
.left .sidebar i .notification-count {
  background: var(--color-danger);
  color: #fff;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}
.left .sidebar .active h3,
.left .sidebar .active i,
.preview,
.right .messages .message-requests {
  color: var(--color-primary);
}
.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}
.close,
.middle .feed i {
  font-size: 20px;
}
.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}
.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.left .sidebar .menu-item:last-child.active {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}
.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.left .notifications-popup,
.middle .stories .story {
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
}
.left .notifications-popup {
  position: absolute;
  top: 0;
  left: 110%;
  width: 30rem;
  background: var(--color-white);
  box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60%, 25%);
  z-index: 8;
  display: none;
}
.left .notifications-popup::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  background: var(--color-white);
  position: absolute;
  left: -0.6rem;
  transform: rotate(45deg);
}
.left .notifications-popup > div {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.left .notifations-popup small,
.modal.show {
  display: block;
}
.middle .stories {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  gap: 0.5rem;
}
.middle .stories .story {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 0.75rem;
  background: red;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.middle .stories .story::before {
  content: "";
  display: block;
  width: 100%;
  height: 5rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  position: absolute;
  bottom: 0;
}
.middle .stories .story .name {
  z-index: 2;
}
.middle .story .profile-photo {
  width: 50px;
  height: 50px;
  align-self: start;
  border: 3px solid var(--color-primary);
  display: block;
}
.middle .create-post,
.middle .feed .photo,
.middle .feeds .feed {
  border-radius: var(--card-border-radius);
}
.middle .create-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.1rem;
  background: var(--color-white);
  padding: 0.4rem var(--card-padding);
}
.middle .feeds .feed,
.right .messages {
  background: var(--color-white);
  padding: var(--card-padding);
}
.middle .create-post input[type="text"] {
  transition: 0.3s;
  justify-self: start;
  width: 80%;
  padding-left: 1rem;
  background: 0 0;
  color: var(--color-dark);
  margin-right: 1rem;
}
.feeds {
  padding-bottom: 50px;
  overflow-y: auto;
}
.middle .feeds .feed {
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}
.middle .feed .head {
  display: flex;
  justify-content: space-between;
}
.head img {
  border-radius: 50%;
}
.all-messages img {
  width: 50px;
  height: 50px;
}
.middle .feed .user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pop-up  {
  z-index: 5000  !important;  /* Puedes ajustar este valor según tus necesidades */
}
.middle .feed .photo {
  overflow: hidden;
  margin: 0.7rem 0;
  height: fit-content;
}
.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}
.middle .liked-by,
.visible {
  display: flex;
}
.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by p {
  margin-left: 1rem;
}
main .contenedor .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
  margin-right: -1.4rem;
}
.all-messages {
  height: 250px;
  overflow-y: scroll;
  padding-bottom: 35px;
}
.right .messages {
  height: 28rem;
  overflow: hidden;
  border-radius: var(--card-border-radius);
}
.right .messages .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.right .messages i {
  font-size: 1.4rem;
}
.right .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}
.search-bar {
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}
.file-label,
.preview {
  border-radius: 50%;
  transition: 0.3s;
}
.search-bar input[type="search"] {
  background: 0 0;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}
.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.right .messages .category h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding: 0.5rem;
  font-size: 0.85rem;
}
.right .messages .category .active {
  border-color: var(--color-dark);
}
.right .messages .message {
  margin-bottom: 1rem;
  align-items: start;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;

  }

  .all-messages .message{
    width: 80%;
    margin: 0 auto;
  }
.message-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  align-items: center;
}
.contenedor {
  width: 80%;
}
@media screen and (max-width: 1200px) {
  .contenedor {
    width: 80%;
  }
  main .contenedor {
    grid-template-columns: 6rem auto 30vw;
  }
  .left {
    width: 5rem;
    z-index: 5;
  }
  .left .btn,
  .sidebar h3,
  main .contenedor .left .profile {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  main .contenedor .right,
  nav .search-bar {
    display: none;
  }
  main .contenedor {
    grid-template-columns: 0 auto 2rem;
  }
  main .contenedor .left {
    grid-column: 1/4;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .left .notifications-popup::before {
    top: 1.3rem;
    left: calc(20rem - 0.6rem);
    display: block;
  }
  main .contenedor .middle {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1400px) {
  main .contenedor {
    grid-template-columns: 20vw auto 20vw;
  }
}
@media screen and (min-width: 1600px) {
  main .contenedor {
    grid-template-columns: 18vw auto 20vw;
  }
}
@media screen and (min-width: 1800px) {
  main .contenedor {
    grid-template-columns: 15vw auto 20vw;
  }
}
.hidden,
.modal-posts.hidden {
  display: none;
}
input[type="file"] {
  width: 50px;
}
.file-label {
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-label:hover {
  background-color: var(--color-secondary);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  outline: 0;
}
.preview {
  align-self: center;
  margin: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
}
.preview:hover {
  color: #000;
}
input[type="text"]:focus {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  top: 50%;
  left: 50%;
}
.modal-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  border-top: 1px solid #e9ecef;
}
.btn-secondary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
}
.close:hover {
  color: #000;
  opacity: 0.75;
}
.close:focus {
  outline: 0;
  box-shadow: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
}
@media (max-width: 768px) {
  .modal {
    width: 80%;
  }
}
@media (max-width: 767px) {
  main .contenedor {
    gap: 0;
    display: block;
  }
}
.category.verified,
.heading-messages.verified,
.messages.verified {
  background-color: #333;
  color: #fff;
}
.main-container {
  display: grid;
}
.navbar {
  width: 100%;
  display: block;
  margin-top: -5px;
}
@media (max-width: 600px) {
  .main-container .container {
    display: block;
  }
  .navbar {
    width: 100%;
    display: none;
  }
}
.spinner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-message {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-contenido {
  position: absolute;
  top: 10%;
  left: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.close {
  float: right;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close-modal,
.liked-heart {
  font-weight: 700;
  color: red;
}
.close-modal {
  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.3s;
  background-color: #fff;
}
.close-modal:hover {
  background-color: #e9ecef;
}
.interaction-buttons i {
  cursor: pointer;
}
.interaction-buttons span i {
  font-size: 100px;
}
.contenido-post p {
  font-size: 16px;
  text-align: justify;
  margin-left: 5px;
}

.photo {
  text-align: center;
}

.photo img {
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.publicacion {
  width: 100%;
}

.comments {
  background-color: transparent;
  z-index: 3000;

}

.show-comments {
  background-color: transparent;
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.09); /* Sombra */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  height: 600px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.modal-content::-webkit-scrollbar {
  width: 0; /* Oculta el scrollbar de WebKit (Chrome, Safari, etc.) */
}

/* Opcional: oculta el scrollbar en Firefox */
.modal-content {
  scrollbar-width: none;
}

/* Opcional: oculta el scrollbar en IE/Edge */
.modal-content {
  -ms-overflow-style: none;
}

@media (min-width: 992px) {
  .modal-content {
    width: 50%;
  }
}

.cerrar {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 0;
  margin-left: 81%;
  z-index: 100000;
  width: 50px;
  color: red;
  background-color: transparent;
  align-items: center;
}
.cerrar i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 10px;
  transition: 0.3s all ease;
}

.cerrar:hover i{
  background-color: red;
  color: white;
}

@media (min-width: 1300px) {
  .cerrar {
    margin-left: 90%;
  }
}

.edit {
  background-color: transparent;
  cursor: pointer;
}

.delete-confirmation {
  position: absolute;
  margin-top: -30px;
  padding: 10px;
  font-size: 15px;
  width: 200px;
  border-radius: 20px;
  margin-left: -230px;
  z-index: 200;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Aquí se añade la sombra */
  color: white;
  background-color: rgb(92, 92, 92);
}


.botones-de-confirmacion {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.botones-de-confirmacion button {
  padding: 5px 10px;
  border-radius: 5px;
}


.modal-content .mandar-comentario{
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  margin-bottom: 0;
  width: 100%;
  background-color: var(--color-secondary);
  bottom: 0;
  left: 0;
  border-radius: 0;
}

.mandar-comentario input{
  width: 80%;
  background-color: transparent;
}

.comment{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.comentarios{
  max-height: 500px;
  overflow-y: auto;
}

.comentarios::-webkit-scrollbar {
  width: 0; /* Oculta el scrollbar en navegadores WebKit */
}

.comment p {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-light);
  font-size: 18px;
  margin-bottom: 10px;
  max-width: 300px;
  max-height: fit-content;
  word-wrap: break-word; /* Esta línea fuerza al texto a envolverse dentro del contenedor */
}



.comment img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.primero{
  font-weight: bold;
}



.photo .post-image{
  max-width: 500px;
  max-height: 500px;
}

.close,
.middle .feed .primero i {
  font-size: 250px;
}

.primero{
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 55px;
  margin: 0 auto;
  margin-top: 50px;
}

@media(max-width:600px){
  .primero{
    margin-top: 100px;
  }
 .middle .feed .primero i{
    font-size: 100px;
  }

  .cerrar{
    margin-left: 70%;
  }
}



.comentar{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.comentar .mensaje{
  margin-left: 50px;
}


.comentar .enviar{
  width: 25%;
  background-color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  transition: 0.3s all ease;
}

.comentar .enviar:hover{
  background-color: var(--color-terciary);
}

.mensaje-arriba{
  display: grid;
  grid-template-columns: 1fr 3fr;
  place-items: center;
  gap: 20px;
}

@media(min-width:1201px){
  .mensaje-arriba,.message-body{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

#unirte{
  padding: 10px;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: white;
}

#unirte a{
  color: white;
}

#salirte{
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(207, 5, 5);
  color: white;
}


.file-label{
  z-index: 50;
}


.si,.no{
  transition: 0.3s all ease;
  background-color: transparent;

}

.si:hover{
  color: white;
}


.no:hover{
  color: white;
}


.caja-comentario
{
  display: flex;
  gap: 10px;
}
