<!--MAIN-->

<main>
  <div class="container">

    <!--LEFT SIDE -->
   <app-navbar/>
    <!--END OF LEFT-->

    <div class="middle">


      <!--END OF STORIES-->

      <form class="create-post">
        <div class="profile-photo">
          <img src="assets/images/profile-1.jpg" alt="">
        </div>
        <input type="text" placeholder="Want to do a publish?">
        <input type="submit" value="Post" class="btn btn-primary">
      </form>


      <div class="feeds">
        <div class="feed">
          <div class="head">
            <div class="user">
              <div class="profile-photo">
                <img src="assets/images/profile-13.jpg" alt="User photo">
              </div>
              <div class="ingo">
                <h3>Juanma</h3>
                <small>Italy, 15 mins ago</small>
              </div>

            </div>
            <span class="edit">
              <i class="uil uil-ellipsis-h"></i>
            </span>
          </div>

          <div class="photo">
            <img src="assets/images/feed-1.jpg" alt="User photo">
          </div>

          <div class="action-button">
            <div class="interaction-buttons">
              <span><i class="uil uil-heart"></i></span>
              <span> <i class="uil uil-comment-dots"></i></span>
            </div>

            <div class="liked-by">
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>

              <p>Liked by <b>numero</b> people</p>
            </div>

            <div class="caption">
              <p>Me ha encantado Italia, pero que estres BlackLifesMatter</p>
            </div>
            <div class="comments text-muted">
              Ver comentarios
            </div>
          </div>
        </div>

        <div class="feed">
          <div class="head">
            <div class="user">
              <div class="profile-photo">
                <img src="assets/images/profile-13.jpg" alt="User photo">
              </div>
              <div class="ingo">
                <h3>Juanma</h3>
                <small>Italy, 15 mins ago</small>
              </div>

            </div>
            <span class="edit">
              <i class="uil uil-ellipsis-h"></i>
            </span>
          </div>

          <div class="photo">
            <img src="assets/images/feed-1.jpg" alt="User photo">
          </div>

          <div class="action-button">
            <div class="interaction-buttons">
              <span><i class="uil uil-heart"></i></span>
              <span> <i class="uil uil-comment-dots"></i></span>
            </div>

            <div class="liked-by">
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>

              <p>Liked by <b>numero</b> people</p>
            </div>

            <div class="caption">
              <p>Me ha encantado Italia, pero que estres BlackLifesMatter</p>
            </div>
            <div class="comments text-muted">
              Ver comentarios
            </div>
          </div>
        </div>

        <div class="feed">
          <div class="head">
            <div class="user">
              <div class="profile-photo">
                <img src="assets/images/profile-13.jpg" alt="User photo">
              </div>
              <div class="ingo">
                <h3>Juanma</h3>
                <small>Italy, 15 mins ago</small>
              </div>

            </div>
            <span class="edit">
              <i class="uil uil-ellipsis-h"></i>
            </span>
          </div>

          <div class="photo">
            <img src="assets/images/feed-1.jpg" alt="User photo">
          </div>

          <div class="action-button">
            <div class="interaction-buttons">
              <span><i class="uil uil-heart"></i></span>
              <span> <i class="uil uil-comment-dots"></i></span>
            </div>

            <div class="liked-by">
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>

              <p>Liked by <b>numero</b> people</p>
            </div>

            <div class="caption">
              <p>Me ha encantado Italia, pero que estres BlackLifesMatter</p>
            </div>
            <div class="comments text-muted">
              Ver comentarios
            </div>
          </div>
        </div>

        <div class="feed">
          <div class="head">
            <div class="user">
              <div class="profile-photo">
                <img src="assets/images/profile-13.jpg" alt="User photo">
              </div>
              <div class="ingo">
                <h3>Juanma</h3>
                <small>Italy, 15 mins ago</small>
              </div>

            </div>
            <span class="edit">
              <i class="uil uil-ellipsis-h"></i>
            </span>
          </div>

          <div class="photo">
            <img src="assets/images/feed-1.jpg" alt="User photo">
          </div>

          <div class="action-button">
            <div class="interaction-buttons">
              <span><i class="uil uil-heart"></i></span>
              <span> <i class="uil uil-comment-dots"></i></span>
            </div>

            <div class="liked-by">
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>

              <p>Liked by <b>numero</b> people</p>
            </div>

            <div class="caption">
              <p>Me ha encantado Italia, pero que estres BlackLifesMatter</p>
            </div>
            <div class="comments text-muted">
              Ver comentarios
            </div>
          </div>
        </div>

        <div class="feed">
          <div class="head">
            <div class="user">
              <div class="profile-photo">
                <img src="assets/images/profile-13.jpg" alt="User photo">
              </div>
              <div class="ingo">
                <h3>Juanma</h3>
                <small>Italy, 15 mins ago</small>
              </div>

            </div>
            <span class="edit">
              <i class="uil uil-ellipsis-h"></i>
            </span>
          </div>

          <div class="photo">
            <img src="assets/images/feed-1.jpg" alt="User photo">
          </div>

          <div class="action-button">
            <div class="interaction-buttons">
              <span><i class="uil uil-heart"></i></span>
              <span> <i class="uil uil-comment-dots"></i></span>
            </div>

            <div class="liked-by">
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>
              <span><img src="assets/images/profile-10.jpg" alt=""></span>

              <p>Liked by <b>numero</b> people</p>
            </div>

            <div class="caption">
              <p>Me ha encantado Italia, pero que estres BlackLifesMatter</p>
            </div>
            <div class="comments text-muted">
              Ver comentarios
            </div>
          </div>
        </div>

        <!--END OF FEEDS-->
      </div>


    </div>


    <div class="right">

      <div class="messages">
        <div class="heading-messages">
          <div class="heading">
            <h4>Messages </h4><i class="uil uil-edit"></i>
          </div>

          <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Search messages" id="message-search"
            (keyup)="filterMessages()"
           >
          </div>
        </div>

        <div class="category">
          <h6 class="active">Primary</h6>
          <h6>General</h6>
          <h6 class="message-requests">Requests(7)</h6>
        </div>
        <div class="all-messages">
          <div class="message">
            <div class="profile-photo">
              <img src="assets/images/profile-1.jpg" alt="Imagen usuario">
            </div>
            <div class="message-body">
              <h5>Prueba</h5>
              <p class="text-muted">Mensaje de priueba</p>
            </div>
          </div>

          <div class="message">
            <div class="profile-photo">
              <img src="assets/images/profile-1.jpg" alt="Imagen usuario">
            </div>
            <div class="message-body">
              <h5>Prueba</h5>
              <p class="text-muted">Mensaje de priueba</p>
            </div>
          </div>

          <div class="message">
            <div class="profile-photo">
              <img src="assets/images/profile-1.jpg" alt="Imagen usuario">
            </div>
            <div class="message-body">
              <h5>Prueba</h5>
              <p class="text-muted">Mensaje de priueba</p>
            </div>
          </div>

          <div class="message">
            <div class="profile-photo">
              <img src="assets/images/profile-1.jpg" alt="Imagen usuario">
            </div>
            <div class="message-body">
              <h5>Prueba</h5>
              <p class="text-muted">Mensaje de priueba</p>
            </div>
          </div>

          <div class="message">
            <div class="profile-photo">
              <img src="assets/images/profile-1.jpg" alt="Imagen usuario">
            </div>
            <div class="message-body">
              <h5>Juan</h5>
              <p class="text-muted">Mensaje de priueba</p>
            </div>
          </div>

          <div class="message">
            <div class="profile-photo">
              <img src="assets/images/profile-1.jpg" alt="Imagen usuario">
            </div>
            <div class="message-body">
              <h5>Juanma</h5>
              <p class="text-muted">Mensaje de priueba</p>
            </div>
          </div>
        </div>

      </div>
      <div class="friend-requests">
        <h4>Solicitudes</h4>
        <div class="request">
          <div class="info">
            <div class="profile-photo">
              <img src="assets/images/profile-13.jpg" alt="Usuaario">
            </div>
            <div>
              <h5>Juanma</h5>
              <p class="text-muted">
                Teneis amigos en comun
              </p>
            </div>
          </div>
          <div class="action">
            <button class="btn btn-primary">
              Aceptar
            </button>
            <button class="btn ">
              Rechazar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--FIN DE LA DERECHA-->

  </div>
</main>





