<!--MAIN-->

<main>
  <div class="main-container">
    <div class="contenedor custom-container">
      <!--LEFT SIDE -->
      <div class="navbar">
        <app-navbar />
      </div>
      <!--END OF LEFT-->
      <div class="middle">
        <!--END OF STORIES-->
        <form class="create-post" (submit)="onSubmit()" method="post">

          <div class="publicacion d-flex">
            <label for="file-input" class="file-label">
              <i class="fas fa-upload"></i>
            </label>
            <input id="file-input" type="file" accept="image/*, video/*" (change)="onFileSelected($event)"
              style="display: none;">
            <input type="text" [placeholder]="'PLACEHOLDERS.WANT_TO_DO_A_PUBLISH' | translate" [(ngModel)]="postContent"
              name="postContent" autocomplete="off">

          </div>

          <!--EN CASO DE QUE SE DEBA HACER LOGIN-->
          <div class="modal-message" #modal *ngIf="showMessageToUser">
            <div class="modal-contenido">
              <p>{{'SIGN_IN_POST'|translate}}</p>
            </div>
          </div>

          @if(user!=null){
          <input type="submit" [value]="'POST'|translate" (click)="showMessage()" class="btn btn-primary">
          }@else {
          <input type="submit" value="Post" disabled class="btn btn-primary">
          }

        </form>
        <!-- Ventana modal -->
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{'PREVIUS_POST'|translate}}</h5>

              </div>
              <div class="modal-body text-center">
                <p>{{ postContent }}</p>
                <img *ngIf="selectedFile" [src]="modalImage" alt="Selected Image" class="modal-image">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'CLOSE'|translate}}</button>
              </div>
            </div>
          </div>
        </div>

        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="1000"
          (scrolled)="onScroll()" class="feeds mb-5">
          <div class="feed" *ngFor="let post of posts">
            <div class="head">
              <div class="user">
                <div class="profile-photo">
                  @if(post.userData?.profilepicture!=null && post.userData?.profilepicture!=undefined){
                  <img [src]="'http://localhost:8080/profile-images/'+post.userData?.profilepicture" alt="User photo">
                  }@else {
                  <img src="assets/images/anonimo.png" alt="User photo">
                  }
                </div>
                <div class="info">
                  <h6>{{ post.userData?.username }}</h6>
                  <!-- Mostrar otros detalles del usuario si es necesario -->
                </div>
              </div>
              @if(user!=null && user.id===post.userId){
              <div class="eliminacion">
                <button class="edit" (click)="showDeleteConfirmation(post.id)">
                  <i class="uil uil-ellipsis-h"></i>
                </button>
                <div class="delete-confirmation" *ngIf="post.showConfirmation">
                  <p>{{"DELETE_POST"|translate}}</p>
                  <div class="botones-de-confirmacion">
                    <button (click)="deletePost(post.id, post.userId)"><i class="fa-solid fa-check"></i></button>
                    <button (click)="hideDeleteConfirmation(post.id)"><i class="fa-solid fa-xmark"></i></button>
                  </div>
                </div>
              </div>
              }
            </div>

            @if(post.imageUrl){

            @if(post.loading){
            <div class="spinner">
              <!-- Aquí coloca tu spinner de carga -->
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            }@else {
            <div class="photo">
              <img [src]="'http://localhost:8080/images/'+post.imageUrl" [id]="'post-image-' + post.id" alt="User photo"
                class="post-image">
            </div>
            }


            }
            <div class="contenido-post">
              <p>{{post.content}}</p>
            </div>

            <div class="action-button">
              <div class="interaction-buttons">
                @if(user!=null){
                <span (click)="like(post.id)">
                  <i class="fa-regular fa-heart fs-2 pe-1" [ngClass]="post.isFavourite ? 'liked-heart' : ''"></i>
                </span>


                }@else {
                <i class="fa-regular fa-heart fs-2 pe-1"></i>
                }
              </div>
              <button (click)="toggleModal(post.id)" class="show-comments">{{'SHOW_COMMENTS'|translate}}</button>
            </div>
            <div class="comments text-muted">
              <div class="modal-background" *ngIf="showComments" (click)="toggleModal(post.id)">
                <div class="modal-content" (click)="preventClose($event)">
                  <div *ngIf="comments.length > 0; else noComments">
                    <div class="comentarios" #messagesContainer>
                      <div *ngFor="let comment of comments" class="comment">
                        <img *ngIf="comment.userData?.profilepicture"
                             [src]="'http://localhost:8080/profile-images/' + comment.userData?.profilepicture"
                             alt="User photo">
                        <img *ngIf="!comment.userData?.profilepicture"
                             src="assets/images/anonimo.png"
                             alt="User photo">
                        <p>{{ comment.content }}</p>
                      </div>
                    </div>
                  </div>
                  <ng-template #noComments>
                    <div class="comment primero">
                      <i class="fa-regular fa-comments fa-10x"></i>
                      <h1>{{"NO_COMMENTS"|translate}}</h1>
                    </div>
                  </ng-template>

                  <div class="mandar-comentario">
                    <form (ngSubmit)="addComment(postId)" class="comentar">
                     @if(user&&user!=null){
                      <input type="text" class="mensaje" id="mensaje-content" name="content"
                      [(ngModel)]="commentContent" [placeholder]="'PLACEHOLDERS.WRITE_COMMENT' | translate" required>
                     }@else {
                      <input type="text" class="mensaje" id="mensaje-content" name="content"
                      [(ngModel)]="commentContent" [placeholder]="'SIGN_IN_COMMENTS' | translate" disabled required>
                     }
                     @if(user&&user!=null){
                      <input type="submit" [value]="'POST' | translate" class="enviar">
                     }
                    </form>
                  </div>
                  <button (click)="toggleModal(post.id)" class="cerrar" [title]="'CLOSE'|translate"><i class="fa-solid fa-xmark"></i></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="right">
        <div class="messages">
          <div class="heading-messages">
            <div class="heading">
              <h4>{{'GROUPS'|translate}}</h4>
            </div>

            <div class="search-bar">
              <i class="uil uil-search"></i>
              <input type="search" [placeholder]="'PLACEHOLDERS.GROUPS' |translate" id="message-search"
                (keyup)="filterMessages()">
            </div>
          </div>

          <div class="category">
            <h6 class="active">{{'JOIN_GROUP'|translate}}</h6>
          </div>
          <div class="all-messages">
            @if(groups!=null && groups!=undefined){
            <div class="message" *ngFor="let grupo of groups">

              <div class="mensaje-arriba">
                <div class="profile-photo">
                  <img [src]="'http://localhost:8080/images/'+grupo.profileImage" alt="Imagen usuario">
                </div>
                <h5>{{grupo.name}}</h5>

              </div>
              <div class="message-body">
                <div>
                  <small class="text-muted"> &#64;{{grupo.coachUsername}}</small>
                </div>

                <div class="botones">
                  <button *ngIf="user && isCoachOfGroup(grupo.id)" (click)="salirte(grupo.id)" disabled
                    id="salirte">{{"YOUR_GROUP"|translate}}</button>
                  <button *ngIf="user && isMember(grupo) && user.id !== getCoachIdOfGroup(grupo.id)"
                    (click)="salirte(grupo.id)" id="salirte">{{"EXIT_GROUP"|translate}}</button>
                  <button *ngIf="user && !isMember(grupo) && user.id !== getCoachIdOfGroup(grupo.id)"
                    (click)="unirte(grupo.id)" id="unirte">{{"JOIN_GROUP"|translate}}</button>
                  <button *ngIf="!user"
                   id="unirte">  <a [routerLink]="'/login'">{{"SIGN_IN"|translate}}</a></button>
                </div>
              </div>
            </div>
            }@else {
            <p>{{'NOT_FOUND_GROUPS'|translate}}</p>
            }
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
