<div class="caja">
  <div class="other-navbar">
    <app-navbar></app-navbar>
  </div>

  <div class="ejercicios">

    <div *ngIf="esPaginaActual(1)">
      <div class="titulo">
        <div class="info"><img src="/assets/images/exercises/logo.png" alt="" class="logo"></div>
        <h2>{{ 'SELECT_SPORT' | translate }}</h2>
      </div>
      <div class="imagenes">
        <div *ngFor="let imagen of imagenes; let i = index" class="imagen-item">
          <img [src]="imagen" alt="Imagen de deporte" class="deporte" (click)="seleccionarImagen(i)"
            [class.seleccionada]="imagenSeleccionada === i">
          <p class="text-center">{{ nombresImagenesTraducidas[i] }}</p>
        </div>
      </div>
      <div class="botones" *ngIf="imagenSeleccionada>=0">
        <button class="next-step" (click)="nextStep()">{{"NEXT"|translate}}</button>
      </div>
    </div>


    <div *ngIf="esPaginaActual(2)">
      <div class="titulo">
        <div class="info"><img src="/assets/images/exercises/logo.png" alt="" class="logo"></div>
        <h2>{{nombresImagenesTraducidas[imagenSeleccionada]}}</h2>
      </div>
      @if(imagenSeleccionada===3 || imagenSeleccionada===6 || imagenSeleccionada===9){
      <div class="descripcion">
        <img [src]="imagenes[imagenSeleccionada]" alt="Ejercicio Seleccionado" class="deporte ejercicio-final des"
          id="cardio">
        @if(imagenSeleccionada==3){
        <p class="des">{{"BICICLETA_DES"|translate}}</p>
        }
        @if(imagenSeleccionada==6){
        <p class="des">{{"CORRER_DES"|translate}}</p>
        }
        @if(imagenSeleccionada==9){
        <p class="des">{{"ANDAR_DES"|translate}}</p>
        }

        <div>
          <h4 class="text-center">{{"KILOMETROS_ESTIMADOS"|translate}}</h4>


          <div class="peso">
            <img src="/assets/images/exercises/smartwatch.png" alt="">
            <div class="PB-range-slider-div">
              <input type="range" min="1" max="30" [(ngModel)]="repeticiones" class="PB-range-slider" id="myRange">
              <p class="PB-range-slidervalue">{{ repeticiones }}km</p>
            </div>
          </div>

        </div>
        <div>
          <h4 class="text-center">{{"TIEMPO_ESTIMADO"|translate}}</h4>

          <div class="peso">
            <img src="/assets/images/exercises/stopwatch.png" alt="">
            <div class="PB-range-slider-div">
              <input type="range" step="2" min="10" max="200" [(ngModel)]="pesoNumero" class="PB-range-slider"
                id="myRange">
              <p class="PB-range-slidervalue">{{ pesoNumero }} min</p>
            </div>
          </div>

        </div>
      </div>


      <div class="botones">
        <button class="next-step" (click)="stepBefore()">{{'BEFORE' | translate}}</button>
        <button class="next-step" (click)="addExercise()">{{'ADD' | translate}}</button>
      </div>
      } @else {
      <div class="imagenes-2">
        <div *ngFor="let img of imagenesEjercicios[imagenSeleccionada]; let i = index" class="imagen-item">
          <img [src]="img" alt="Exercise Image {{i}}" class="deporte" (click)="seleccionarEjercicio(i)"
            [class.seleccionada]="ejercicio === i">
          @if(imagenSeleccionada==0){
          <p class="text-center">{{ abdomen[i] |translate}}</p>
          }
          @if(imagenSeleccionada==1){
          <p class="text-center">{{ back[i] |translate}}</p>
          }
          @if(imagenSeleccionada==2){
          <p class="text-center">{{ biceps[i] |translate}}</p>
          }
          @if(imagenSeleccionada==4){
          <p class="text-center">{{ chest[i] |translate}}</p>
          }
          @if(imagenSeleccionada==5){
          <p class="text-center">{{ legs[i] |translate}}</p>
          }
          @if(imagenSeleccionada==7){
          <p class="text-center">{{ shoulders[i] |translate}}</p>
          }
          @if(imagenSeleccionada==8){
          <p class="text-center">{{ triceps[i] |translate}}</p>
          }

        </div>


      </div>
      <div class="botones">
        <button class="next-step" (click)="stepBefore()">{{'BEFORE' | translate}}</button>
        <button class="next-step" (click)="nextStep()">{{'NEXT' | translate}}</button>
      </div>
      }

    </div>

    <div *ngIf="esPaginaActual(3)">
      @if(this.imagenSeleccionada!=3 && this.imagenSeleccionada!=6 && this.imagenSeleccionada!=9){
      <h3 class="text-center">{{ getName() |translate }}</h3>
      <div class="descripcion">
        <img [src]="imagenesEjercicios[imagenSeleccionada][ejercicio]" alt="Ejercicio Seleccionado"
          class="deporte ejercicio-final des" id="imagenArriba">
        <p class="des">{{ getDescripcionEjercicioSeleccionado() | translate }}</p>
        <div>
          <h4 class="text-center">Elige repeticiones</h4>


          <div class="peso">
            <img src="/assets/images/exercises/number-10.png" alt="">
            <div class="PB-range-slider-div">
              <input type="range" min="5" max="30" [(ngModel)]="repeticiones" class="PB-range-slider" id="myRange">
              <p class="PB-range-slidervalue">{{ repeticiones }}</p>
            </div>
          </div>

        </div>
        <div>
          <h4 class="text-center">Elige un peso</h4>

          <div class="peso">
            <img src="/assets/images/exercises/weight.png" alt="">
            <div class="PB-range-slider-div">
              <input type="range" step="2" min="10" max="200" [(ngModel)]="pesoNumero" class="PB-range-slider"
                id="myRange">
              <p class="PB-range-slidervalue">{{ pesoNumero }} kg</p>
            </div>
          </div>

        </div>
      </div>
      }


      <div class="botones">
        <button class="next-step" (click)="stepBefore()">{{"BEFORE"|translate}}</button>
        <button class="next-step" (click)="addExercise()">{{"ADD"|translate}}</button>
      </div>
    </div>




  </div>
</div>

@if(ejercicios.length>0){
  <div id="pdfContent">
    <div class="bajar"><p>{{"LIST"|translate}}</p></div>
      <div id="lista" class="lista">
        <div *ngFor="let ejercicio of ejercicios; let i = index" class="card">
          <img [src]="ejercicio.imagen" class="card-img-top" alt="ejercicio">
          <div class="card-body">
            <h5 class="card-title"><b>{{"NOMBRE" | translate}}</b> {{ ejercicio.nombre | translate }}</h5>
            <p class="card-text"><b>{{"DESCRIPTION" | translate}}:</b> {{ ejercicio.descripcion | translate }}</p>
            <p class="card-text" *ngIf="ejercicio.nombre === 'BICICLETA' || ejercicio.nombre === 'CORRER' || ejercicio.nombre === 'ANDAR'">
              <b>{{"KILOMETROS" | translate}}:</b> {{ ejercicio.repeticiones }} km
            </p>
            <p class="card-text" *ngIf="ejercicio.nombre === 'BICICLETA' || ejercicio.nombre === 'CORRER' || ejercicio.nombre === 'ANDAR'">
              <b>{{"TIEMPO" | translate}}:</b> {{ ejercicio.peso }} min
            </p>
            <p class="card-text" *ngIf="ejercicio.nombre !== 'BICICLETA' && ejercicio.nombre !== 'CORRER' && ejercicio.nombre !== 'ANDAR'">
              <b>{{"REPETICIONES" | translate}}:</b> {{ ejercicio.repeticiones }}
            </p>
            <p class="card-text" *ngIf="ejercicio.nombre !== 'BICICLETA' && ejercicio.nombre !== 'CORRER' && ejercicio.nombre !== 'ANDAR'">
              <b>{{"PESO" | translate}}:</b> {{ ejercicio.peso }} kg
            </p>
            <div class="botones-finales" *ngIf="!isGeneratingPDF">
              <button class="delete" (click)="deleteExercise(i)">{{ "DELETE" | translate }}</button>
            </div>
            <div *ngIf="isGeneratingPDF" class="username">
              {{"NAVBAR_ENTRENADOR" | translate}} {{username}}
            </div>
          </div>
        </div>
    </div>
  </div>

<div class="botones-rutina">
  <!-- <button (click)="generarPDF()">{{"GENERAR"|translate}}</button> -->
  <button class="guardar" (click)="addRoutine()">{{"SAVE"|translate}}</button>
</div>
<div class="apoyo"></div>

}

@if(rutinas.length>0) {
  <div class="bajar"><p>{{"EJERCICIOS"|translate}}</p></div>
  <!-- Tu contenido aquí -->
  <div id="lista" class="lista">
    <div *ngFor="let ejercicio of rutinas; let i = index" class="card">
      <div class="card-body">
       <div class="imagen">
        <img [src]="getImageForExercise(ejercicio.name)" alt="" width="200px" height="180px" >
       </div>
        <h5 class="card-title"><b>{{"NOMBRE" | translate}}:</b> {{ ejercicio.name | translate }}</h5>
        <p class="card-text"><b>{{"DESCRIPTION" | translate}}:</b> {{ ejercicio.description | translate }}</p>
        <p class="card-text"
          *ngIf="ejercicio.name === 'BICICLETA' || ejercicio.name === 'CORRER' || ejercicio.name === 'ANDAR'">
          <b>{{"KILOMETROS" | translate}}:</b> {{ ejercicio.repeticiones }} km
        </p>
        <p class="card-text"
          *ngIf="ejercicio.name === 'BICICLETA' || ejercicio.name === 'CORRER' || ejercicio.name === 'ANDAR'">
          <b>{{"TIEMPO" | translate}}:</b> {{ ejercicio.peso }} min
        </p>
        <p class="card-text"
          *ngIf="ejercicio.name !== 'BICICLETA' && ejercicio.name !== 'CORRER' && ejercicio.name !== 'ANDAR'">
          <b>{{"REPETICIONES" | translate}}:</b> {{ ejercicio.repeticiones }}
        </p>
        <p class="card-text"
          *ngIf="ejercicio.name !== 'BICICLETA' && ejercicio.name !== 'CORRER' && ejercicio.name !== 'ANDAR'">
          <b>{{"PESO" | translate}}:</b> {{ ejercicio.peso }} kg
        </p>
        <div class="botones-finales">
          <button class="delete hecho" (click)="eliminarRutina(ejercicio)">{{ "SUPERADO" | translate }}</button>
        </div>
      </div>
    </div>
  </div>

<div class="apoyo"></div>


}
