<div class="caja">
  <div class="other-navbar">
    <app-navbar></app-navbar>
  </div>

  <div class="ejercicios">

    <div *ngIf="esPaginaActual(1)">
      <div class="titulo">
        <div class="info"><i class="fa-solid fa-circle-info"></i></div>
        <h2>{{ 'SELECT_SPORT' | translate }}</h2>
      </div>
      <div class="imagenes">
        <div *ngFor="let imagen of imagenes; let i = index" class="imagen-item">
          <img [src]="imagen" alt="Imagen de deporte" class="deporte" (click)="seleccionarImagen(i)"
            [class.seleccionada]="imagenSeleccionada === i">
          <p class="text-center">{{ nombresImagenesTraducidas[i] }}</p>
        </div>
      </div>
      <div class="botones" *ngIf="imagenSeleccionada!=null">
        <button class="next-step" (click)="nextStep()" >{{"NEXT"|translate}}</button>
      </div>
    </div>


    <div *ngIf="esPaginaActual(2)">
      <div class="titulo">
        <div class="info"><i class="fa-solid fa-circle-info"></i></div>
        <h2>{{nombresImagenesTraducidas[imagenSeleccionada]}}</h2>
      </div>
      @if(imagenSeleccionada===3 || imagenSeleccionada===6 || imagenSeleccionada===9){
      <h1>hey cardio</h1>
      } @else {
      <div class="imagenes-2">
        <div *ngFor="let img of imagenesEjercicios[imagenSeleccionada]; let i = index" class="imagen-item">
          <img [src]="img" alt="Exercise Image {{i}}" class="deporte" (click)="seleccionarEjercicio(i)"
          [class.seleccionada]="ejercicio === i">
          @if(imagenSeleccionada==0){
            <p class="text-center">{{ abdomen[i] |translate}}</p>
           }
           @if(imagenSeleccionada==1){
            <p class="text-center">{{ back[i] |translate}}</p>
           }
         @if(imagenSeleccionada==2){
          <p class="text-center">{{ biceps[i] |translate}}</p>
         }
         @if(imagenSeleccionada==4){
          <p class="text-center">{{ chest[i] |translate}}</p>
         }
        </div>
      </div>
      }
      <div class="botones">
        <button class="next-step" (click)="stepBefore()">{{'BEFORE' | translate}}</button>
        <button class="next-step" (click)="nextStep()">{{'NEXT' | translate}}</button>
      </div>
    </div>

    <div *ngIf="esPaginaActual(3)">
      <h3 class="text-center">Paso 3: Configuración adicional</h3>
      <form class="personalizacion">
        <div class="intensity">
          <h4>Selecciona la intensidad</h4>
          <div class="intensity-options">
            <button class="intensity-option" (click)="selectIntensity('low')">Baja</button>
            <button class="intensity-option" (click)="selectIntensity('medium')">Media</button>
            <button class="intensity-option" (click)="selectIntensity('high')">Alta</button>
          </div>
          <div class="personal-notes">
            <h4>Tipo de ejercicio</h4>
            <textarea [(ngModel)]="personalNotes" name="personalNotes"
              placeholder="Escribe un poco sobre el ejercicio..."></textarea>
          </div>
        </div>

        <div class="preview">
          <h4>Vista previa del plan</h4>
          <p><strong>Ejercicio:</strong> {{ nombresImagenes[imagenSeleccionada] | translate }}</p>
          <p><strong>Duración:</strong> {{ selectedHour }} horas y {{ selectedMinutes }} minutos</p>
          <p><strong>Intensidad:</strong> {{ selectedIntensity }}</p>
          <p><strong>Notas:</strong> <span class="notes">{{ personalNotes }}</span></p>
        </div>
      </form>
      <div class="botones">
        <button class="next-step" (click)="stepBefore()">{{"BEFORE"|translate}}</button>
        <button class="next-step" (click)="crearRutina()">{{"CREATE"|translate}}</button>
      </div>
    </div>
  </div>
</div>
