.contenedor {
  display: grid;
<<<<<<< HEAD
=======
  grid-template-columns: 3fr 2fr;
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 20px;
}

<<<<<<< HEAD
@media (min-width: 800px) {
  .contenedor {
    margin-top: 40px;
    margin-left: 30px;
  }
}
=======
@media (min-width:800px){
.contenedor{
  margin-top: 40px;
  margin-left: 30px;
}
}

>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e

.formulario {
  margin-top: 55px;
  width: 50%;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  margin-left: 600px;
  padding: 40px;
}

@media (max-width: 800px) {
  .contenedor {
=======
}

@media (max-width:800px){
  .contenedor{
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
    width: 100%;
    display: flex;
    flex-direction: column;
  }

<<<<<<< HEAD
  .formulario {
=======
  .formulario{
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
    width: 90%;
    margin-left: 0;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 3fr;
  }

<<<<<<< HEAD
  .formulario {
=======
  .formulario{
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
    width: 90%;
    margin-left: 0;
    margin-right: 40px;
  }
}

<<<<<<< HEAD
.username-title {
  padding-bottom: 20px;
  margin-top: -10px;
=======



.username-title{
  padding-bottom: 20px;
margin-top: -10px;
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
}

.formulario h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.imagen img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.imagen img:hover {
  transform: scale(1.1);
}

.d-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

<<<<<<< HEAD
span {
=======
span{
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
  font-weight: bold;
}

.d-flex span {
  font-weight: bold;
}

.red {
  color: red;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

select {
  appearance: none;
}

.botones {
  display: flex;
  justify-content: space-between;
}

input[type="submit"],
button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
}

input[type="submit"]:hover,
button:hover {
  background-color: var(--color-terciary);
}

<<<<<<< HEAD
.name-lastname,
.edad-email {
=======

.name-lastname,.edad-email{
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
  display: flex;
  gap: 4rem;
  justify-content: space-around;
}

<<<<<<< HEAD
#age {
=======
#age{
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
  padding: 10px;
  border: 1px solid rgb(199, 197, 197);
  background-color: #fff;
  display: block;
  width: 160px;
<<<<<<< HEAD
}

.publicaciones {
  background-color: beige;
}


.other-navbar{
  margin-top: 50px;
  width: 300px;
  position: fixed;
  margin-left: 310px;
}


@media (max-width:600px){
  .other-navbar{
    display: none;
  }
}


@media (min-width:842px){
  .formulario{
    margin-left: 10%;
  }
}


@media(min-width:993px){
  .other-navbar{
    margin-left: 30px;
  }

  .formulario{
    margin-left: 20%;
  }
}

@media (min-width:1201px){
.formulario{
  width: 60%;
  margin-left: 400px;
}
}



@media (max-width:600px) {
  .other-navbar{
    display: none;
  }
}

@media (min-width:1440px) {
 .other-navbar{
  margin-left:50px;
 }
}

@media (min-width:1800px){
  .other-navbar{
    width: 287px;
    margin-left: 300px;
    left: 0;
    margin-top: 60px;
  }

  .formulario{
    width: 50%;
    margin-left: 600px;
    margin-top: 60px;
  }
}

=======

}



.publicaciones{
  background-color: beige;
}
>>>>>>> d271da6f09e7ed8f283c3da9264ad9720656433e
