<body>

  <div class="caja">


    <main class="container rounded-1 ">

      <div class="formulario bg-white ">
        <h1 class="text-center text-black ">{{"SIGN_IN"|translate}}</h1>
        <form method="post" (submit)="logUser($event)" >
          <input type="text" [placeholder]="'PLACEHOLDERS.USERNAME'|translate"  name="username" class="rounded-1 w-100" autocomplete="off" [(ngModel)]="username">
          <small *ngIf="errorUsuario">{{"USER_LOGIN_INCORRECTO"|translate}}</small>
          <input type="password" [placeholder]="'PLACEHOLDERS.PASSWORD'|translate" autocomplete="current-password" name="password" class="rounded-1" [(ngModel)]="password">
          <small *ngIf="errorPassword">{{"PASSWORD_LOGIN_INCORRECTO"|translate}}</small>
          <div *ngIf="error" class="error-login">{{"ERROR_LOGIN"|translate}}</div>
          <div class="recordar-usuario">
            <label class="checkbox-container">
                <input type="checkbox" name="remember" id="remember" [(ngModel)]="rememberCredentials">
                <span class="checkmark"></span>
            </label>
            <p>{{"REMEMBER"|translate}}</p>
        </div>

          <input type="submit" class="rounded-1" [value]="'SIGN_IN'|translate">
        </form>
      </div>

      <div class="contenedor-right d-grid align-content-center  order-xl-2 ">
        <h1 class="text-center fs-3 ">{{"WELCOME"|translate}}</h1>
        <span class="text-center mb-2">{{"NOT_ACCOUNT"|translate}}</span>
        <button class="d-grid w-50 mx-auto p-2 rounded-1 register"><a [routerLink]="['/register']"><span>{{"REGISTER"|translate}}</span></a></button>
      </div>


    </main>
    <nav>
      <a [routerLink]="['/home']">
       <h1 class="text-center "><img class="icono" src="/assets/images/icono.png" alt=""></h1>
      </a>
     </nav>

  </div>

  <div class="mensaje" *ngIf="showMessage">Se ha enviado un email de verificación</div>

</body>



