<body>
  <nav>
    <div class="container">
      <h2 class="log">
        fitnessApp
      </h2>

      <div class="search-bar d-flex">
        <i class="uil uil-search"></i>
        <input type="search" placeholder="Search for users">
      </div>

      <div class="create">
        <label class="btn btn-primary" for="create-post">
          Create
        </label>

        <div class="profile-photo">
          <img src="assets/images/profile-1.jpg" alt="Imagen de usuario">
        </div>
      </div>
    </div>
  </nav>


</body>
