<nav class="navbar">
  <div class="container">
    <h2 class="log">
      <div class="text-decoration-none icon" (click)="scrollToTop()">Fit-Track</div>
    </h2>

    <div class="create">
      <ng-container *ngIf="user.verified && user.coach">
        <a [routerLink]="['/create/group']">
          <label class="btn btn-primary" for="create-post" [title]="'CREATE_GROUP'|translate">
            <i class="fas fa-plus"></i>
          </label>
        </a>
      </ng-container>
      <ng-container *ngIf="user.verified && !user.coach">
        <a [routerLink]="['/create/rutine']">
          <label class="btn btn-primary" for="create-post" >
            <i class="fas fa-plus"></i>
          </label>
        </a>
      </ng-container>
      <ng-container *ngIf="!user.verified">
        <a [routerLink]="['/login']">
          <label class="" for="create-post" id="reg">
            {{ 'SIGN_IN' | translate }}
          </label>
        </a>
      </ng-container>

      <div class="profile-photo">
        <ng-container *ngIf="user.profilepicture">
          <a [routerLink]="['/profile']">
            <img [src]="'https://juanmadatortfg.onrender.com /profile-images/' + user.profilepicture" alt="Profile Picture" [title]="user.username">
          </a>
        </ng-container>
        <ng-container *ngIf="user.verified && !user.profilepicture">
          <a [routerLink]="['/profile']">
            <img src="assets/images/anonimo.png" alt="Anónimo" [title]="user.username">
          </a>
        </ng-container>
        <ng-container *ngIf="!user.verified">
          <a [routerLink]="['/login']">
            <img src="assets/images/anonimo.png" alt="Anónimo" [title]="'SIGN_IN'|translate">
          </a>
        </ng-container>
      </div>

      <button (click)="cambiarIdioma()" class="idioma" [title]="'TRANSLATE_ES'|translate">
        <i class="fa-solid fa-earth-europe"></i>
      </button>
      <!-- Solo muestra el botón y el navbar en pantallas con una resolución menor o igual a 600px -->
    </div>
  </div>
  <button class="menu-toggle" (click)="toggleMenu()" [class.active]="showNavbar">
    <span class="icon">&#9776;</span>
  </button>
</nav>

<div class="other-navbar" [ngClass]="{ 'display-none': showOtherNavbar }">
  <app-navbar *ngIf="isSmallScreen && showNavbar" [showNavbar]="showNavbar"></app-navbar>
</div>
