

/*NAVBAR*/

.navbar {
  width: 100%;
  background: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

.create a{
  text-transform: none;
  color: white;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.navbar .search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
  display: flex;
}

/*un input con un type concreto*/
.navbar .search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

/*para cambiar el color del place holder del input*/
.navbar .search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

.navbar .create {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 3px;
}


@media screen and (max-width: 992px) {
  .navbar .search-bar input[type="search"]  {
  display: none;
  }

  .navbar .container .search-bar{
   display: none;
  }

}


.icon{
  cursor: pointer;
}



.other-navbar {
  z-index: -1;
  opacity: 1;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.other-navbar {
  position: fixed; /* Posiciona el other-navbar sobre el navbar principal */
  top: -50px; /* Ajusta la posición en la parte superior del navbar principal */
  left: 0; /* Ajusta la posición en el lado izquierdo del navbar principal */
  width: 100%; /* Asegura que el other-navbar ocupe todo el ancho del navbar principal */
  z-index: 2;
  z-index: 100000;
}

.menu-toggle{
  display: block;
}
@media(max-width:600px){

  .profile-photo{
    display: none;
  }
  .menu-toggle{
    display: block;
  }


  .navbar[_ngcontent-ng-c825889317] .create[_ngcontent-ng-c825889317] {
    display: flex;
    align-items: center;
    gap: 0;
}
  .icon{
    font-size: 20px;
  }
  .navbar{
   display: flex;
   justify-content: center;
  }
  }


.profile-photo img{
  margin: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.profile-photo{
  transition: 0.3s all ease;
}

.profile-photo:hover{
  transform: scale(1.1);
}



  @media (max-width: 768px) {
    .menu-toggle.active + app-navbar .left {
      display: block;
    }
  }


  .display-none{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease,visibility 0.5s ease, transform 0.5s ease;
  }

  .menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 15px;
    margin-right: 5px;
    border-radius: 30px;
    font-size: 18px;
    color: #333;
    transition: all 0.3s;
    text-align: center; /* Centra todo el contenido */
  }

  .menu-toggle span{
    display:block;
  }

  .menu-toggle.active .icon {
    transform: rotate(45deg);
  }

  .menu-toggle.active .text {
    opacity: 0;
  }

  .menu-toggle .icon {
    margin-right: 10px;
    transition: transform 0.3s;
  }

  .menu-toggle .text {
    opacity: 1;
    transition: opacity 0.3s;
  }

  .menu-toggle:hover {
    background-color: #f0f0f0;
  }

  @media (min-width:601px){
    .menu-toggle{
      display: none;
    }
  }


  .idioma{
    font-size: 30px;
    background-color: transparent;
    transition: 0.3s all ease;
    color: var(--color-primary);
  }

  .idioma:hover{
    transform: scale(1.10);
  }

  label{
    border: none;
  }

  label:hover{
    border: none;
    background-color: var(--color-terciary);
  }

  #reg{
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
