.bottom-text,
.card {
  background: #243137;
}
.campo {
  margin-bottom: 20px;
}
.card {
  display: grid;
  width: 300px;
}
button.mat-button {
  background-color: #007bff;
  color: #fff;
}
button.mat-button:hover {
  background-color: #0056b3;
}
.card {
  height: 200px;
  place-content: center;
  transition: 0.5s ease-in-out;
}
.border,
.bottom-text {
  position: absolute;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
#logo-main,
#logo-second {
  height: 100%;
}
#logo-main {
  fill: #bd9f67;
}
#logo-second {
  padding-bottom: 10px;
  fill: none;
  stroke: #bd9f67;
  stroke-width: 1px;
}
.border {
  inset: 0px;
  border: 2px solid #bd9f67;
  transform: rotate(10deg);
}
.bottom-text {
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0 5px 0 8px;
  color: #bd9f67;
  letter-spacing: 7px;
}
.content {
  transition: 0.5s ease-in-out;
}
.content .logo {
  height: 35px;
  width: 33px;
  transition: 1s ease-in-out;
}
.content .logo .logo1 {
  height: 33px;
  position: absolute;
  left: 0;
}
.content .logo .logo2 {
  height: 33px;
  position: absolute;
  left: 33px;
}
.content .logo .trail {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.content .logo-bottom-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  color: #bd9f67;
  padding-left: 8px;
  font-size: 11px;
  opacity: 0;
  letter-spacing: none;
  transition: 0.5s ease-in-out 0.5s;
}

@keyframes opacity {
  0%,
  100% {
    border-right: 1px solid transparent;
  }
  10%,
  80% {
    border-right: 1px solid #bd9f67;
  }
}
@keyframes trail {
  0%,
  95% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 90%,
      #bd9f67 100%
    );
    opacity: 0;
  }
  30%,
  70% {
    background: linear-gradient(
      90deg,
      rgba(189, 159, 103, 0) 70%,
      #bd9f67 100%
    );
    opacity: 1;
  }
}
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transition: 0.4s ease-in-out;
  max-width: 500px;
  cursor: default;
}
article a::after {
  position: absolute;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}
article h2 {
  margin: 0 0 18px;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}
figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
article img {
  max-width: 100%;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}
.article-body {
  padding: 24px;
}
.article-body p {
  height: 50px;
  overflow: hidden;
}
article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #4e3c9e;
}
article a:focus {
  outline: #4e3c9e dotted 1px;
}
article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: 0.3s;
}
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: var(--color-primary);
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.articles {
  width: 90%;
  display: flex;
  z-index: 20;
  display: flex;
  margin: 0 auto;
  gap: 10px;
  justify-content: center;
  padding-bottom: 100px;
  min-height: 422px;
  place-items: center;
}

.articles a {
  display: block;
}

button {
  margin: 20px;
  border-radius: 10px;
  background-color: var(--color-primary);
}

.botones {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

#unirte {
  z-index: 50;
  padding: 10px 50px;
  margin-left: -24px;
  margin-bottom: -24px;
  left: 0;
  bottom: 0;
  margin-right: -24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  background-color: var(--color-primary);
  color: white;
}
#salirte {
  z-index: 50;
  padding: 10px 50px;
  margin-left: -24px;
  margin-bottom: -24px;
  left: 0;
  bottom: 0;
  margin-right: -24px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  background-color: rgb(201, 4, 4);
  color: white;
}

.articles {
  z-index: 20;
}

@media (min-width: 1201px) {
  .other-navbar {
    width: 287px;
  }
}

.caja {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  margin-top: 100px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Ajusta la alineación vertical de las diapositivas */
  gap: 20px;
}

.titulo {
  position: absolute;
}
article {
  width: 300px;
}

.grupos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.botones-guia {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 60px;
  width: 100%;
  margin: 0 auto;
  margin-top: -80px;
}

@media (max-width: 1650px) {
  .botones-guia {
    margin-top: -10px;
  }
}

@media (min-width: 1651px) {
  .botones-guia {
    margin-top: -10px;
  }
}

.boton-guia {
  padding: 10px 15px;
  border-radius: 50%;
  transition: 0.3s all ease;
  background-color: var(--color-primary);
  color: white;
}

.boton-guia:hover {
  transform: scale(1.2);
}

.articles {
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .other-navbar {
    display: none;
  }
}

@media (max-width: 769px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 993px) {
  .caja {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .articles {
    margin-left: -80px;
  }
}

@media (min-width: 1201px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
  }
}

@media (min-width: 1400px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 25px;
  }
}

@media (min-width: 1650px) {
  .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 50px;
  }

  .article {
    width: 500px;
  }
}

@media (min-width: 1900px) {
  .articles {
    grid-template-columns: repeat(4, 1fr);
  }
}

.boton-login #login {
  display: grid;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 10px;
}

#login a {
  display: block;
  color: white;
}

input {
  padding-top: 200px;
  min-width: 300px;
}

.titulo {
  text-align: center;
  padding-top: 100px;
}

@media (max-width: 600px) {
  .articles {
    margin-top: 50px;
  }
}

@media (min-width: 993px) {
  .articles {
    margin-top: 50px;
  }
}

.description {
  padding: 0;
}

.grupos {
  margin-top: 20px;
}

.barra {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}

.page-link{
  cursor: pointer;
}

.barra i {
  margin-left: -80px;
  font-weight: bold;
  background-color: var(--color-secondary);
  justify-self: center;
  padding: 13px 13px;
  border-radius: 25px;
}

@media (min-width: 601px) {
  .barra {
    width: 80%;
  }
}

.busqueda {
  margin-left: -50px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hidden {
  transform: translateY(-50px);
  opacity: 0;
}

.barra input {
  width: 100%;
}

.other-navbar {
  z-index: 50;
}

.contenido {
  margin-bottom: 50px;
}

button a {
  text-decoration: none;
  color: white;
}
.filtro {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añade una sombra con desplazamiento x=0, y=0, desenfoque 10px y color rgba(0, 0, 0, 0.1) */
  margin: 0 auto;
  margin-bottom: 40px;
  margin: 0 auto;
}
