<div class="caja">
  <div class="other-navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="grupos" [@newGroupsAnimation]>


    <section class="articles">
     @if(groups!=null){
      <article *ngFor="let grupo of groups" class="swiper-slide">
        <div class="article-wrapper">
          <figure>
            <img [src]="'http://localhost:8080/images/'+grupo.profileImage" alt="" />
          </figure>

          <div class="article-body">

            <h2>{{grupo.name}}</h2>
            <p>
              {{grupo.description}}
            </p>

            @if(user!=null){
              <a [routerLink]="'/group/' + grupo.id" class="read-more">
                Ver más <span class="sr-only">about this is some title</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
                </svg>
              </a>
            <div class="botones">
              <button *ngIf="grupo.perteneceUsuario" (click)="salirte(grupo.id)" id="eliminar">Eliminar</button>
              <button *ngIf="!grupo.perteneceUsuario" (click)="unirte(grupo.id)" id="unirte">Unirte</button>
            </div>
          }@else{
            <a href="" class="read-more">
              Ver más <span class="sr-only">about this is some title</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </a>
            <div class="boton-login">
              <button  id="login"><a href="/login">Inicia sesión</a></button>
            </div>
          }
          </div>

        </div>

      </article>
     }@else {
      <h3 class="titulo">No se encontraron grupos</h3>
     }
    </section>

    <div class="botones-guia">
      <button class="swiper-button-prev boton-guia" (click)="before()"><i class="fas fa-arrow-left"></i>
      </button>
      <button class="swiper-button-next boton-guia" (click)="next()"><i class="fas fa-arrow-right"></i>
      </button>
    </div>

  </div>

</div>
