<div>
  <h2>Resetear Contraseña</h2>
  <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
    <div>
      <label for="password">Nueva Contraseña:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required minlength="6">
    </div>
    <div>
      <label for="confirmPassword">Confirmar Contraseña:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required minlength="6">
    </div>
    <button type="submit" [disabled]="!resetForm.valid || password !== confirmPassword">Enviar</button>
  </form>
</div>
